<div class="m-3 dashboard-body">
    <!-- header -->
    <div class="d-flex justify-content-between align-items-center flex-wrap" style="margin-bottom: 30px;">
        <h4 class="fw-bolder head-page">Ambulance Cars</h4>
        <div class="d-flex flex-wrap justify-content-center">
            <div class="search-container me-md-4">
                <img src="../../../assets/images/search.svg" class="search-icon" alt="">                  
                <input (input)="search()" [(ngModel)]="searchKeyword" type="text" placeholder="Search All Ambulance" class="search-input">
            </div>     
            <button class="btn btn-AddNew" (click)="openAddEditAmbulancePage(true,{})"><i class="fa fa-plus"></i> Add New</button>
        </div>
    </div>

    <div class="table_container">
        <table class="w-100">
            <thead class="table-header">
                <tr class="table-row-header">
                    <th style="padding-left: 16px;">
                        Car Number                            
                    </th>
                    <th>
                        Status                           
                    </th>
                    <th>
                        Ambulance                    
                    </th>
                    <th class="w-1">
                    </th>
                </tr>
            </thead>
            <tbody *ngIf='!isLoading && dataTable.length > 0 && !serverErrorFetch'>
                <tr *ngFor="let row of dataTable" class="table-row-body">
                    <td (click)="openMap(row)">{{row?.carNumber}}</td>
                    <td (click)="openMap(row)">{{row?.status}}</td>
                    <td (click)="openMap(row)">{{row?.assignedDriver?.name}}</td>
                    <td><img (click)="openAddEditAmbulancePage(false, row)" style="cursor: pointer;" src="./../../../assets/images/edit.svg" alt="edit icon"></td>
                </tr>
            </tbody>
            <tbody *ngIf='isLoading'>
                <tr *ngFor="let row of loadingSchema" class="table-row-body">
                    <td><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                    <td><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                    <td><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                    <td><ngx-skeleton-loader appearance="line"></ngx-skeleton-loader></td>
                </tr>
            </tbody>
            <tbody *ngIf='!isLoading && dataTable.length == 0 && !serverErrorFetch'>
                <tr>
                    <td colspan="12"  class="no-data">
                        There is no Ambulance at the moment
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="serverErrorFetch" class="internal-server-error">
            {{serverErrorFetch}}
        </div>
    </div>

    <p-dialog [(visible)]="addAmbulance" [modal]="true" [dismissableMask]="!isLoadingSubmit">
        <form [formGroup]="addEditAmbulance" #form="ngForm" (ngSubmit)="onSubmit()" class="pop-up">

            <div class="row mb-5 pop-up-head">
                <div class="col-md-12"> 
                  <h3>Add Ambulance</h3>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12">
                    <label for="carNumber" class="form-label">Car number</label>
                    <input type="text" formControlName="carNumber" class="form-control" id="carNumber">
                    <app-form-errors
                        [color]="'danger'"
                        [form]="form"
                        [control]="addEditAmbulance.controls['carNumber']"
                    >
                    </app-form-errors>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12">
                  <label for="location" class="form-label">
                    Driver
                    <i *ngIf="isLoadingDriver" class="fa-spin fas fa-spinner"></i>
                </label>
                  <p-dropdown [options]="drivers" formControlName="driver" [disabled]="isLoadingDriver || errLoadingDriver"  placeholder="" optionLabel="name" [showClear]="true"></p-dropdown>
                  <app-form-errors
                        [color]="'danger'"
                        [form]="form"
                        [control]="addEditAmbulance.controls['driver']"
                   >
                   </app-form-errors>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md-12">
                  <label for="location" class="form-label">Location</label>
                  <input type="text" formControlName="location" class="form-control" id="location">
                  <app-form-errors
                        [color]="'danger'"
                        [form]="form"
                        [control]="addEditAmbulance.controls['location']"
                   >
                   </app-form-errors>
                </div>
            </div>
            <div class="row mb-3 g-2 d-flex flex-row-reverse position-relative">
                <div class="col-md-6"> 
                    <button class="btn-submit" [disabled]="isLoadingSubmit?'disable':''" type="submit">
                        Submit
                        <i *ngIf="isLoadingSubmit" class="fa-spin fas fa-spinner"></i>
                    </button>
                </div>
                <div class="col-md-6">
                  <button class="btn-Cancle" [disabled]="isLoadingSubmit?'disable':''" type="button" (click)="closeAddEditAmbulancePage()">Cancel</button>
                </div>
            </div>
        </form>
    </p-dialog>
    <p-dialog [(visible)]="showMap" class="map" [modal]="true" [dismissableMask]="true">
        <app-map [carDetails]="carDetails"></app-map>
    </p-dialog>

</div>
