@import "../../../assets/styles/links.scss";
@import "../../../assets/styles/buttons.scss";


.dashboard-body{
    background-color: #ffffff;
    border-radius: 10px;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 25px 18px;
}
@media (max-width: 575px){
    .dashboard-body{
        padding: 25px 10px;
    }
}
.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

.search-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.search-input {
    padding: 16px 20px 16px 50px;
    width: 315px;
    border-radius: 10px;
    background-color: #f8f8f8;
    outline: none;
    border: none;   
}
@media (max-width: 575px) {
    .search-input{
        width: 275px;
    }
}