<div class="container-dashboard" (click)="closeSidebar($event)">
    <div class="sidebar-content" (click)="stopProp($event)" #sidebarContent>
        <sidebar (closeSidebar)="closeSidebar($event)"></sidebar>
    </div>
    <div class="content-route">
        <div class="open-sidebar" (click)="openSidebar($event)">
            <img src="./assets/images/sidebar.png" alt="sidebar">
        </div>
        <div class="modules-content">
            <!-- <div class="logout">
                <img (click)="logout()" src="./assets/images/logout.png" alt="logout">
            </div> -->

            <nav-bar  [isCircle]="true"> </nav-bar>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>